
body{
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: lightcyan;
}
/* cart article */
.card-img-top{
    height: 150px;
    background-repeat:repeat;
    object-fit: cover;
    object-position: top;
	background-attachment: fixed;  
  	background-size: cover;
}
.card-body .card-title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.btnviewarticle{
    background: linear-gradient(135deg,#3afe4a 0%,#58fef0 100%);
    width: 100%;
    height: 30px;
    display: block;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    padding-top: 2px;
    text-align: center;
    font-weight: 500;
    outline: none;
    text-transform: uppercase;
    cursor: pointer;
}